
<section class="registrations">
  <h2 class="registrations__title">Undirskriftir</h2>
  <h5 class="registrations__count">Fjöldi undirskrifta <%= numberofsides.length %></h5>

  <% if (registrations.length === 0) { %>
    <p class="registrations__empty">Engar undirskriftir.</p>
  <% } else { %>
    <table class="registrations__table" cellpadding="0">
      <tr>
        <th>Dags</th>
        <th>Nafn</th>
        <th>Athugasemd</th>
      </tr>
      <% registrations.forEach((row) => { %>
        <tr>
          <td class="date"><%= formatDate(row.signed) %></td>
          <td class="name"><%= row.anonymous ? 'Nafnlaust' : row.name %></td>
          <td class="comment"><%= row.comment %></td>
        </tr>
      <% }) %>
      </tr>
    </table>
  <% } %>
   <tr>
    <% if(offset > 0) { %>
    <p class="button__fyrri"><a href="/?offset=<%=offset - limit%>&limit=<%=limit%>">Fyrri síða</a></p>
    <% } %>

    <% if((offset/50)+1 != Math.ceil(numberofsides.length/50)) { %> 
    <p class="button__seinni"><a href="/?offset=<%=offset + limit%>&limit=<%=limit%>">Næsta síða</a></p>
    <% } %>
    
    <p class="label__sida">Síða <%= (offset/50)+1 %> af <%= Math.ceil(numberofsides.length/50) %></p>
  </tr>
</section>
